<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etape 2</title>
    <link rel="stylesheet" href="../static/css/etape2.css">
    <link rel="stylesheet" href="../static/css/headerfooter.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <style> #map {
        height: 500px;
        margin-top: 20px;    /* Marge en haut */
        margin-bottom: 20px; /* Marge en bas */
        margin-left: 100px;   /* Marge à gauche */
        margin-right: 100px;  /* Marge à droite */
        position: relative;  /* Ajoutez cette propriété pour utiliser z-index */
        z-index: 0;
        }
        .menu-bar {
        position: relative;  /* Ajoutez cette propriété pour utiliser z-index */
        z-index: 1;          /* Une valeur supérieure pour le header */
        }
    </style>  
</head>
<body>
    <nav class="menu-bar">
        <ul>
            <img src="/static/img/logoZeroc.png" style="width: 40px; height: 25px"> <p class="logo"> ZEROC</p>
            <li><a id = "/Zeroc" href = "Zeroc.html">Accueil</a></li>
            <li><a href = "simu.html">Lancer une simulation</a></li>
            <li><a id = "/infos" href = "infos.html">Qui sommes-nous ?</a></li>
            <li><p> <img src="/static/img/utilisateur.png" style="height:20px; width: 20px">Connexion</p></li>
        </ul>
    </nav>
    <br><br><br><br><br>
    <main>
      <div class="resultat"> 
        <h1> Résultats de la simulation</h1>
    </div>
            </button>
             <script>
                 document.getElementById("launcher").addEventListener("click", function () {
                     fetch('/tasks/run_calc', { method: 'POST' });
                 });
             </script>
        </div>
        <br>
        
        <br><br>
    </main>

    <div id="map"></div>
     
</body>

<footer>
    <div class="container">
        <div class="blockgauche">
            <p class="titrefooter"> PROJET ZEROC</p> <br>
            <a href="/templates/infos.html"> Qui sommes-nous?</a>
            <a href="/templates/forum.html"> Forum</a>
            <a href="/templates/blog.html"> Blog</a>
            <br> <br>  
        </div>
        <div class="séparation">
            <p>.</p>
        </div>
        <div class="blockmilieu">
            <p class="titrefooter"> EN PLUS</p> <br>
            <a href="/templates/mentionslegales.html"> Mentions légales</a>
            <a href="/templates/conditions.html"> Conditions générales d'utilisation</a>
            <a href="/templates/protectiondonnees.html"> Politique de protection des données personnelles</a>
            <a href="/templates/cookies.html"> Cookies</a> 
            <a href="/templates/donneesperso.html"> Données personnelles</a> 
            <a href="/templates/conditionscompte.html"> Conditions générales d'utilisation du compte</a> 
            <a href="/templates/publicité.html"> publicité</a> <br>  
        </div>
        <div class="séparation">
            <p>.</p>
        </div>
        <div class="blockdroite">
            <p class="titrefooter"> CONTACT</p><br>
            <img src="/static/img/mail.png" style="max-width: 25px; max-height: 25px; border-radius: 50%;">
            <img src="/static/img/logofacebook.png" style="max-width: 25px; max-height: 25px; border-radius: 50%;">
            <img src="/static/img/logoinstagram.png" style="max-width: 25px; max-height: 25px; border-radius: 50%;">
            <img src="/static/img/logotwitter.png" style="max-width: 25px; max-height: 25px; border-radius: 50%;">
            <p> FAQ</p>
        </div>
    </div>
</footer>

<script>
   
    fetch("adresses.json")
.then(function(response) {
  return response.json(); // Convertit le contenu du fichier JSON en tableau JavaScript
})
.then(function(addresses) {
  var map = L.map('map').setView([50.633333, 3.066667], 10); // Centrer la carte arbitrairement


  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);


  addresses.forEach(function(address) {
    // Remplacer par l'URL de votre API de géocodage préférée
    var geocodingUrl = `https://nominatim.openstreetmap.org/search?format=json&limit=1&q=${encodeURIComponent(address)}`;


    fetch(geocodingUrl)
    .then(function(response) {
      return response.json();
    })
    .then(function(geocodeData) {
      if (geocodeData.length > 0) {
        var latLng = [geocodeData[0].lat, geocodeData[0].lon];
        L.marker(latLng).addTo(map).bindPopup(address);
      } else {
        console.log('Géocodage échoué pour l\'adresse:', address);
      }
    })
    .catch(function(error) {
      console.error('Erreur lors du géocodage:', error);
    });
  });
})
.catch(function(error) {
  console.error('Erreur lors de la récupération des adresses:', error);
});




</script>

</html>