<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Zeroc </title>
    <link rel="stylesheet" href="../static/css/Zeroc.css">

</head>

<body>
    <nav class="menu-bar">
        <ul>
            <li><a id = "/Zeroc" href = "Zeroc.html">Accueil</a></li>
            <li><a id = "/infos" href = "infos.html">Qui sommes-nous ?</a></li>
        </ul>
    </nav>
    <div>
        <h1> Projet Zeroc</h1> 
        <h2> Suivez les étapes suivantes pour déterminer les meilleurs matériaux pour votre chantier</h2>
        <ol class="infos">
        </ol>
    </div>
    </body>
<footer>
   



</footer>
</html>